<template class="task-template-admin">
    <section id="section-admin-info" class="section js-section">
        <header>
            <h1>Admin Information</h1>
        </header>
        <div id="admin-info-table-area" class="admin-info-table-area">
            
        </div>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script>
            var ai = require('./src/adminInfo');
            ai.Bind();
        </script>
    </section>
</template>