<template class="task-template-admin">
    <section id="section-doctor-info" class="section js-section">
        <header>
            <h1 id="doctor-info-header">Doctor Information</h1>
        </header>
        <div class="doctor-info-view is-shown" id="doctor-info-list-view">
            <div id="doctor-info-avgs">

            </div>
            <div id="doctor-info-table-area" class="doctor-info-table-area">
                
            </div>
        </div>
        <div class="doctor-info-view" id="doctor-info-doctor-view">
            <button id="doctor-info-back-btn">Go Back</button>
            <button id="doctor-info-remove-doc-btn">Remove Doctor</button>
            <div id="doctor-info-last-login"></div>
            <h3>Patients</h3>
            <div id="doctor-info-patient-area" class="doctor-info-table-area">
                
            </div>
        </div>
        <script>
            var di = require('./src/doctorInfo');
            di.Bind();
        </script>
    </section>
</template>