<template class="task-template-doctor">
    <section id="section-insert-patient" class="section js-section">
        <header>
            <h1>Insert Patient</h1>
        </header>
        <div>
            <form id="insert-patient-form">
                Name: <input type="text" name="name"><br>
                Email: <input type="email" name="email"><br>
            </form>
            <button id="insert-patient">Send Activation Link</button>
        </div>
        <div id="insert-patient-response">
            
        </div>
        <script>
            require('./src/insertPatient');
        </script>
    </section>
</template>