<template class="task-template-doctor">
    <section id="section-insert-patient-as-doctor" class="section js-section">
        <header>
            <h1>Insert Patient</h1>
        </header>
        <div>
            <form id="insert-patient-as-doctor-form">
                Name: <input type="text" name="name"><br>
                Email: <input type="email" name="email"><br>
            </form>
            <button id="insert-patient-as-doctor">Send Activation Link</button>
        </div>
        <div id="insert-patient-as-doctor-response">
            
        </div>
        <script>
            var ipad = require('./src/insertPatientAsDoctor');
            ipad.Bind();
        </script>
    </section>
</template>