<template class="task-template-admin">
    <section id="section-insert-faculty" class="section js-section">
        <header>
            <h1>Insert Faculty</h1>
        </header>
        <div>
            <form id="insert-faculty-form">
                Family Name: <input type="text" name="fname"><br>
                Given Name: <input type="text" name="gname"><br>
                Email: <input type="email" name="email"><br>
                Account Type: <select id="account-type-select">
                    <option value="doctor">Doctor</option>
                    <option value="admin">Admin</option>
                    <option value="adminDoctor">Admin & Doctor</option>
                </select><br>
            </form>
            <button id="insert-faculty">Send Activation Link</button>
        </div>
        <div id="insert-faculty-response">
            
        </div>
        <script>
            require('./src/insertFaculty');
        </script>
    </section>
</template>