<template class="task-template-landing">
    <section id="section-landing" class="section js-section is-shown">
        <header>
            <h1>Landing</h1>
        </header>
        <div class="landing-view is-shown" id="landing-list-view">
            <div id="div-landing-login">
                <button id="button-oauth-signin">Sign In with Google</button>
            </div>
            <div id="landing-doctor-info">
                <div id="landing-patient-area" class="landing-patient-area">
                
                </div>
            </div>
        </div>
        <div class="landing-view" id="landing-patient-view">
            <button id="graph-patient-back-btn">Go Back</button>
            <div id="patient-event-avg"></div>
            <div id="graph-patient-event" class = "graph-patient-event">
            
            </div>
            <div id="graph-patient-chart-area" class="graph-patient-chart-area">
        
            </div>
            <div id="graph-patient-table-area" class="graph-patient-table-area">
                
            </div>
            <div><br>nani</div>
        </div>
        <script>
            var landing = require('./src/landing.js');
            landing.bindButtons();
        </script>
    </section>
</template>