<template class="task-template-admin">
    <section id="section-unassigned" class="section js-section">
        <header>
            <h1>Unassigned Patients</h1>
        </header>
        <div id="unassigned-table-area" class="unassigned-table-area">
            
        </div>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script>
            var u = require('./src/unassigned');
            u.Bind();
        </script>
    </section>
</template>